<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!-- Header -->
    <header class="fixed-top">
        <h1 style="text-align: center; color: white">CUSTOMER DETAILS</h1>
    </header>
    <!-- End of Header -->
    <!-- Left Sidebar -->
    @*@Html.Partial("_SideBar")*@
    @*@{
            Html.RenderPartial("_SideBar");
        }*@
    @{
        Html.RenderAction("RenderSideBar", "Customer");
    }

    <!-- End of Left Sidebar -->
    <!-- Content Body -->
    <div class="content">
        @RenderBody()
    </div>

    <div style="background-color: transparent; color: black; font-weight: bold; margin-left: 600px;">
        @RenderSection("Note", false)
    </div>
    <!-- End of Content Body -->
    <!-- Footer -->
    <footer class="fixed-bottom">
        <h4>I am Footer.</h4>
        <div style="background-color: black; color: white">@RenderSection("Footer", false)</div>
    </footer>

    <!-- Style -->
    <style>
        header {
            height: 100px;
            width: 100%;
            background-color: black;
            margin-top: 5px;
        }

        nav {
            float: left;
            width: 200px;
            height: 800px;
            background-color: black;
            padding: 30px;
            color: white;
        }

        .content {
            margin-top: 100px;
            background-color: white;
            margin-left: 600px;
        }

        footer {
            background-color: black;
            width: 100%;
            height: 50px;
            float: right;
            text-align: center;
            color: white;
            margin-bottom: 10px;
        }
    </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>