@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    @*Loosely-Typed View - ViewData, ViewBag, TempData*@

    @*@{
            foreach (var details in ViewData["traineeList"] as List<string>)
            {
                <ul>
                    <li>@details</li>
                </ul>

            }
        }*@
    @{
        foreach (var details in ViewBag.traineeList as List<string>)
        {
            <ul>
                <li>@details</li>
            </ul>

        }
    }
    <hr />
    <h2>Countries List</h2>
    @Html.Action("Countries", new { countryData = new List<string>() { "US", "UK", "India" } })

    @*OR THE BELOW USING RenderAction*@

    @*@{
        Html.RenderAction("Countries", new { countryData = new List<string>() { "US", "UK", "India" } });
    }*@

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>